:root {
    --rojo: #c62828;
    --verde: #64dd17;
    --blanco: #fafafa;
    --azul: #002171;
    --oscuro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Krub", sans-serif;
}


/* header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

} */

header {
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    float: left;
    margin-top: 6px;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a:hover {
    background-color: #4caf50;
    color: #fff;
    transition: 0.5s;
    border-radius: 20px;
}

.nav .current {
    background-color: #4caf50;
    color: #fff;
    transition: 0.5s;
    border-radius: 20px;
}

​​​​ ​​​​
/* header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}
.logo{
    float: left;
    margin-top: 6px;
}
nav{
    float: right;
   
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a:hover{
    background: #069370;
    color: #fff;
    transition: 0.5s;
} */

.titulo {
    text-align: center;
    color: var(--rojo);
    margin-top: 0px;
}

.contenedor {
    width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.button {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: -58px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.button1:hover {
    background-color: #4caf50;
    color: white;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 79px;
}

.customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4caf50;
    color: white;
}

.incidencias {
    width: 100%;
    padding: 16px 20px;
    margin-top: 100px;
    border: none;
    border-radius: 4px;
    margin-bottom: 144px
}

.incidenciasopciones {
    margin-top: 30px;
}

.btn-succes {
    margin-top: 15px;
}

.circleChart {
    width: 400px;
    height: 400px;
}


.FechaActual {
    float: right;
    margin-bottom: 60px;
    margin-right: 136px;
    font-weight: bold;
}

.TituloPricipalIncidencia {
    padding: 50px;
    margin-bottom: -37px;
    font-weight: bold;
}

.tituloIncidencia {
    margin-left: 47px;
    font-weight: bold;
}

.estatusMover {
    margin: -40px -8px 16px 249px;
}

.tituloIncidencia2 {
    margin-left: 97px;
    font-weight: bold;
}

.cantidadIncidencia {
    margin-left: 739px;
    margin-bottom: 40px;
    font-weight: bold;
}

.Mover-chart {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: -252px;
    margin-left: 40px;
    margin-right: 40px;
}

.Container {
    height: 100vh;
}

.chart-wrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.btn-exportdata {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 80px;
}

.footer {
    font-weight: bold;
}

.tablaIncidencia{
    
    margin-top: 70px;
}   
/* .tablaincidencia2{
    margin-top: 164px;
    page-break-after:always;
} */


.Esconder{
    visibility: hidden;
}

@media print {
    body *{
        visibility: hidden;
    }
    #ExportarData, #ExportarData *{
        visibility: visible;
    }
    #ExportarData{
        position: absolute;
        left: 0px;
        top: 0px;
        
    }
    @page {size: A4 landscape!important}
} 

  .linea{
      margin-top: 70px;
  }
.positionRiesgo{
    display: flex;
    margin-left: 97px;
    margin-bottom: -50px;
    font-weight: bold;
}

.MoverRiesgo{
    margin-left: 20px;
}
.MoverCantidadRiesgo{
    margin-left: 10px;
}

.positionIncidencia{
    display: flex;
    margin-left: 50px;
    margin-bottom: -35px;
    font-weight: bold;
}
.MoverIncidencia{
    margin-left: 56px;
}
.MoverCantidadIncidencia{
    margin-left: 10px;
}

.MoverTablas{
    margin: 43px;
}